.table-gas {
  font-size: 20px;
  overflow-x: auto;
  box-sizing: border-box;
}

.parameters-item {
  width: 250px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.table-wrapper {
  display: flex;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.table-branchs {
  display: flex;
}


.branch-item {
  display: flex;
  justify-content: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.well-number-box {
  display: flex;
  justify-content: space-around;
}

.well-number-box div {
  width: 80px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.table-parameter-box {
  display: flex;
  justify-content: space-around;
}

.table-parameter-item {
  font-size: 20px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}